# Android
/.gradle/
**/build/
local.properties
*.iml
.idea/
.DS_Store
captures/
*.apk
*.aab
*.keystore
*.jks
upload-keystore.jks
keystore.properties
google-services.json
build-log.txt
/build
store-assets/*.png
!store-assets/README.md
